{% extends "base.html" %}

{% block content %}
<h2 align='center' style="font-weight: bold">Пейзажи марса</h2>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center">
                <img src="static/img/galery/{{ photos[0] }}" alt="First slide" class="img-fluid">
            </div>
        </div>
        {% for photo in photos[1:] %}
        <div class="carousel-item">
            <div class="d-flex justify-content-center">
                <img src="static/img/galery/{{ photo }}" alt="Second slide" class="img-fluid">
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущее</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующее</span>
    </button>
</div>
<div>
    <form class="login_form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Добавить картинку</label><br>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
